
body {
    max-width: 1512px;
    margin: 0;
}

.header {
    background: #fff;
}

.header__inner{
    margin: 0 auto;
    max-width: 1512px;
    height: 53px;
    padding: 10px 20px 10px 20px;
    border-bottom: solid 1px #F4F4F4;
}

.header__logo {
    color: #f5c800;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.header__logo:hover{
    text-decoration: none;
    color: #f5c800;
}

main{
    margin: 0 auto;
    max-width: 1512px;
    padding: 50px 20px;
    background-color: #F8F8F8;
}