.main-content {
    padding: 50px 20px;
    margin: 0 auto;
    width: 1512px;
}

/* ヘッダー */

.main-header {
    height: auto;
    padding-bottom: 10px;
}

.main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-header__item {
    display: inline-block;
}

.register-button {
    background-color: #ffa929;
    color: #4b4b4b;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #ddd;
}

.register-button:hover {
    background-color: #df9425;
}

.main-inner {
    display: flex;
    width: 100%;
}

/* サイド */

.sidebar {
    height: 100%;
    width: 20%;
    margin: 0 10px;
}

.search {
    display: flex;
    flex-direction: column;
}

.search-textbox {
    padding: 10px 10px;
    margin: 0;
    border: solid 1px #ccc;
    border-radius: 30px;
}

.search-button {
    background-color: #f5c800;
    color: #4b4b4b;
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #e4e4e4;
}

.search-button:hover {
    background-color: #ddb400;
}

/* 並び替えセレクトボックス風 */

.sort-p {
    color: #4b4b4b;
    font-weight: bolder;
    font-size: 20px;
}

.sort-dropdown {
    display: inline-block;
    position: relative;
    width: 100%;
}

.sort-dropdown .placeholder {
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #4b4b4b;
    cursor: default;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-dropdown ul {
    list-style: none;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}

.sort-dropdown:hover ul {
    display: block; /* ホバーでセレクトのように表示 */
}

.sort-dropdown ul li {
    padding: 8px 20px;
    cursor: pointer;
}

.sort-dropdown ul li:hover {
    background-color: #f0f0f0;
}

.sort-dropdown ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.sort-dropdown__mark {
    padding: 2px 5px;
    margin: 0;
    border: solid 1px #ccc;
}

/* 並び替えタグ */

.sort-tag .active-sort {
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    padding: 10px;
    color: #4b4b4b;
    font-size: 12px;
    border: solid 1px #f5c800;
    border-radius: 30px;
}

.sort-tag .active-sort a {
    margin-left: 10px;
    padding: 0 4px 2px 4px;
    color: #f5c800;
    text-decoration: none;
    font-weight: bolder;
    border: solid 1px #f5c800;
    border-radius: 50px;
}

/* メイン */
.content {
    height: 100%;
    width: 80%;
}

.content-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

a.card {
    width: 32%;
    height: auto;
    margin: 0 0 10px 10px;
    box-shadow: 5px 5px 10px #e4e4e4;
    display: block;
    text-decoration: none;
}

a.card:hover {
    text-decoration: none;
    opacity: 0.8;
}

.card__img {
    width: 100%;
    height: 80%;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #000;
}

.card__content div {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5px;
}

/* ページネーションデザイン */

.pagination-item {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination {
    padding: 0;
    margin: 0;
}

.pagination li {
    margin: 0 8px;
}

.pagination a,
.pagination span {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 30px;
    text-decoration: none;
    color: #f5c800;
}

.pagination .active span {
    background-color: #f5c800 !important;
    color: #fff !important;
    border-color: #f5c800 !important;
}

.pagination a:hover,
.pagination a:hover,
.pagination span:hover {
    background-color: #f0f0f0;
}
